* {
    padding:0;
    margin: 0;
}
.navbar{
    border:0.5px solid black;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    background-color:rgba(255, 255, 255, 0.535);
    backdrop-filter: blur(8px);
    align-items: center;
    position: fixed;
    top:0px;
    z-index: 10;
    width:100%;
    height:7%;
    padding-top:10px;;

    
}
.navpages {
    display: inline;
    list-style-type: none;
    transition: all;
    margin-left:30px;
}
.hovereffect{
    text-decoration: none;
    transition: color 0.3s ease;
    display: inline-block; 
    transition: color 0.3s ease, transform 0.3s ease; 
}
.hovereffect:hover{
     color: #03c3a9;
     transform: scale(1.2);
      
}
a{
    color:grey;
    text-decoration: none;
}
#logo{
    height:60px;
    transition: transform 0.3s ease-in-out;
    padding-left:20px;
}
#logo:hover{
    transform:scale(1.3);
}
#button{
    position:relative;
    right:25px;
    justify-content: center;
    
    
}

.navthings{
    margin:0.5vw;
    width:5vw;
    height:3vw;
    cursor:pointer;
    font-size:1vw;
}
body{
    padding-top:110px;
    background-color: #99a5b1;
    width: 100vw;
}
#content {
  padding: 1vw;
  min-height: 100vh; 
  box-sizing: border-box;
}


#Login{
    background-color:white;
    outline:none;
    border: 0;
    border-radius:10px;
    transition-property: all;
    
}
#Login:hover{
    background-color: #03c3a9;
    border:0.5px solid white;
    
}
#Sign_Up{
    background-color: #001f3d;
    color: white;
    border:0;
    border-radius:10px;
    transition-property: all;
}
#Sign_Up:hover{
    background-color:#03c3a9;
    transform: scale(1.1);
}
#trademark{
    text-align: center;
    color: gray;
}
#footer{
    display:flex;
    justify-content:center;
    text-align: center;
    height: fit-content;
    flex-wrap:wrap;
    position: relative;
    color: #000;
    background-color: #ccd2d8;
}
#footerh1{
    display:inline-block;
    margin: 3vw;
    margin-right:15vw;
}
#footerh2{
    display:inline-block;
    margin: 3vw;
    position: relative;
    margin-right:15vw;
}
#footerh3{
    display:inline-block;
    margin: 3vw;
    position: relative;
   
}
.footersites{
    list-style:none;
}
#footer_logo{
    height:10vw;
    
    /* position: relative;
    right:5vw; */
}
#footer-line{
    width:60%;
    align-items: center;
    margin: 0 auto;
}
#foot{
    background-color: #ccd2d8;
}
#section1{
    background: linear-gradient(135deg, #001f3f, #004f5f, #007b7f);
    min-height:fit-content;
    margin-top: -35px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 2rem;
    
}
#world_img{
    height:35rem;
    width:40rem;
    border-radius: 20px;
}
#About_ZenTrade{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid white;
    width:60vw;
    height: fit-content;

}
#p2l1b1{
    display: flex;
    height:fit-content;
    justify-content: space-evenly;
    text-align:center;
    align-items: center;
    padding:2rem;
   
    
}
#b1h1{
    font-size: 3rem;
   
    padding:2rem;
    font-family: sans-serif;
    color:#000;

}
#b1h2{
    color: green;
    
}
#p2l2B2{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    justify-items: center;
    align-items: center;
    /* border:1px solid black; */
    padding:3rem;
     background-color:#ccd2d8
}
.p2l2b1{
    display: flex;
    flex-direction: column;
    height: 13rem;
    width: 20rem;
    /* border:2px solid black; */
    justify-content:center;
    /* justify-items: center; */
    align-items: center;
    padding: 1rem;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}
#our-mission{
    margin-bottom:1rem;

}
#section2{
    /* width: 100vw; */
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding:3rem;
    
}
#Empowering{
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: aliceblue;
    height: fit-content;
    width:70%;
    padding: 1rem;
    border-radius: 5px;

}
#section3{
    background-color:#00253d;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:3rem;
}
#our_Values{
    color: white;
    text-align: center;
    height:fit-content;
    width:500px;
    /* border: 1px solid white; */
    margin-bottom: 2rem;
}
#our_Values h1{
    font-size: 3rem;
}
.value_boxes{
    color: white;
    text-align:left;
    height: fit-content;
    width:15rem;
  
}
#our_values_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    justify-content:space-evenly;

}
.value_boxes h1{
    margin-bottom: 1rem;
}