body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  
  
}
.loader{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 5px solid #f3f3f3;
  border-top-color: gray;
  animation:spin 1s infinite linear;


}
@keyframes spin{
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}