body {
  padding-top:110px;
 

  background: white;
  font-family: "Inter", sans-serif;
}



* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    
}
.navbar{
    border:0.5px solid black;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    background-color:rgba(255, 255, 255, 0.746);
    backdrop-filter: blur(8px);
    align-items: center;
    position: fixed;
    top:0px;
    z-index: 10;
    width:100%;
    height:8%;
    padding-top:10px;
    padding-bottom: 10px;
    

    
}
.navpages {
    display: inline;
    list-style-type: none;
    transition: all;
    margin-left:30px;
}
.hovereffect{
    text-decoration: none;
    transition: color 0.3s ease;
    display: inline-block; 
    transition: color 0.3s ease, transform 0.3s ease; 
}
.hovereffect:hover{
     color: #03c3a9;
     transform: scale(1.1);
      
}
a{
    color:#001f3d;
    text-decoration: none;
}
#logo{
    height:60px;
    transition: transform 0.3s ease-in-out;
    padding-left:20px;
}
#logo:hover{
    transform:scale(1.3);
}
#button{
    position:relative;
    right:25px;
    justify-content: center;
    
    
}
/* #b{
    height:3vh;
    width:6vw ;

} */
.navthings{
    margin:0.5vw;
    width:5vw;
    height:3vw;
    cursor:pointer;
    font-size:1vw;
}

#content {
  padding: 1vw;
  min-height: 100vh; 
  box-sizing: border-box;
}


#Login{
    background-color:white;
    outline:none;
    border: 0;
    border-radius:10px;
    transition-property: all;
    
}
#Login:hover{
    background-color: #03c3a9;
    border:0.5px solid white;
    
}
#Sign_Up{
    background-color: #001f3d;
    color: white;
    border:0;
    border-radius:10px;
    transition-property: all;
}
#Sign_Up:hover{
    background-color:#03c3a9;
    transform: scale(1.1);
}
#trademark{
    text-align: center;
    color: gray;
}
#footer1{
    display:flex;
    justify-content:center;
    text-align: center;
    height: fit-content;
    flex-wrap:wrap;
    position: relative;
    color: #000;
    background-color: #ccd2d8;
}
#footerh1{
    display:inline-block;
    margin: 3vw;
    margin-right:15vw;
}
#footerh2{
    display:inline-block;
    margin: 3vw;
    position: relative;
    margin-right:15vw;
}
#footerh3{
    display:inline-block;
    margin: 3vw;
    position: relative;
   
}
.footersites li{
    list-style:none;
    color: #000;
}
#footer_logo{
    height:10vw;
    
    /* position: relative;
    right:5vw; */
}
#footer-line{
    width:60%;
    align-items: center;
    margin: 0 auto;
}
#foot{
    background-color: #ccd2d8;
}
#section1-p4{
padding: 3rem;
display: flex;
justify-content: center;
align-items: center;
background: #001f3f;
margin-top:-50px;
height: 30vh;
}
.transprant-prcing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
}
.transprant-prcing h1{
 font-size: 3rem;
 margin-bottom: 1rem;
}
#section2-p4{
     background: linear-gradient(135deg, #001f3f, #004f5f, #007b7f);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 3rem;
    
}
#boxpricing-Trading{
    background-color: white;
    border: 1px solid black;
    height:55vh;
   
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.card-content{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid lightgrey;
    padding:0.5rem;
}
.card-content p{
    color:grey;
}
.fixedprice h3{
    color:#007b7f;
}
#card-last-box{
    border: 0;
}
.pricing-boxes{
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65vw;
    padding: 1rem;
    margin-bottom: 2rem;
    height: 40vh;
    flex-wrap: wrap;
}
#section3-p4{
    background: linear-gradient(135deg, #001f3d, #008a7c, #00bda4);

    min-height:30vh;
    height: fit-content;
   
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
 

}
#section3-p4 p {
    color: white;
    margin-bottom: 3rem;
   
}
#section3-p4 h1{
    font-size: 3rem;
    color: white;

}
#section3-p4 button{
    height: 35px;
    width: 150px;
    border-radius: 10px;
    transition: all 0.3s ease;

}
button{
    cursor: pointer;
}
#createfree:hover{
    background-color: #03c3a9;
    box-shadow: 0 0 10px rgba(3, 195, 169, 0.6);
    transform: scale(1.05);
}