* {
    padding:0;
    margin: 0;
    
}
body{
    padding-top:110px;
    /* background-color: #99a5b1; */
    background-color: #99a5b1;
    font-family: "Inter", sans-serif;
    
}
.navbar{
    border:0.5px solid black;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    background-color:rgba(255, 255, 255, 0.747);
    backdrop-filter: blur(8px);
    align-items: center;
    position: fixed;
    top:0px;
    z-index: 10;
    width:100%;
    height:7%;
    padding-top:10px;;

    
}
.navpages {
    display: inline;
    list-style-type: none;
    transition: all;
    margin-left:30px;
}
.hovereffect{
    text-decoration: none;
    transition: color 0.3s ease;
    display: inline-block; 
    transition: color 0.3s ease, transform 0.3s ease; 
}
.hovereffect:hover{
     color: #03c3a9;
     transform: scale(1.1);
      
}
a{
    color:#001f3d;
    text-decoration: none;
}
#logo{
    height:60px;
    transition: transform 0.3s ease-in-out;
    padding-left:20px;
}
#logo:hover{
    transform:scale(1.3);
}
#button{
    position:relative;
    right:25px;
    justify-content: center;
    
    
}
/* #b{
    height:3vh;
    width:6vw ;

} */
.navthings{
    margin:0.5vw;
    width:5vw;
    height:3vw;
    cursor:pointer;
    font-size:1vw;
}
#content {
  padding: 1vw;
  min-height: 100vh; 
  box-sizing: border-box;
}


#Login{
    background-color:white;
    outline:none;
    border: 0;
    border-radius:10px;
    transition-property: all;
    
}
#Login:hover{
    background-color: #03c3a9;
    border:0.5px solid white;
    
}
#Sign_Up{
    background-color: #001f3d;
    color: white;
    border:0;
    border-radius:10px;
    transition-property: all;
}
#Sign_Up:hover{
    background-color:#03c3a9;
    transform: scale(1.1);
}
#trademark{
    text-align: center;
    color: gray;
}
#footer1{
    display:flex;
    justify-content:center;
    text-align: center;
    height: fit-content;
    flex-wrap:wrap;
    position: relative;
    color: #000;
    background-color: #ccd2d8;
}
#footerh1{
    display:inline-block;
    margin: 3vw;
    margin-right:15vw;
}
#footerh2{
    display:inline-block;
    margin: 3vw;
    position: relative;
    margin-right:15vw;
}
#footerh3{
    display:inline-block;
    margin: 3vw;
    position: relative;
   
}
.footersites li{
    list-style:none;
    color: #000;
}
#footer_logo{
    height:10vw;
    
    /* position: relative;
    right:5vw; */
}
#footer-line{
    width:60%;
    align-items: center;
    margin: 0 auto;
}
#foot{
    background-color: #ccd2d8;
}

#l1b1 {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content:space-evenly;
    align-items: center;
    margin-bottom:7vw;
    height:fit-content;
    padding:0;
    /* background-color:  #808f9e; */
}
#home-area1{
    height:fit-content;
    width:37rem;
    /* width: 40%;
    height:fit-content; */
    /* border:1px solid black; */
    padding:1rem;
    display:inline-block;
    margin-right:2rem;
    flex-wrap:wrap;
    /* position: relative;
    bottom:90px; */
    padding-top:1.3rem;
    transform: scale(1.2);
    box-sizing: border-box;

   
}
@media screen and (max-width:1350px){
    #home-area1{
        padding: 1rem;
        margin-top: 2rem;
        width:30rem;
    }
}
@media screen and (max-width:640px){
    #home-area1{
        width:25rem;
    }
        
    }




#b1_h1{ 
    font-size:4rem;
    margin-top: 0;
    line-height: 1.0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #ffffff, #00eaff);
    -webkit-background-clip: text;
    color: transparent;
}
#b1_h2{
    font-size:3rem;
    line-height: 1.0;
    color: white;;
     font-family: 'Inter', sans-serif;
}
#b1_h3{
    font-size:3rem;
    line-height: 1.0;
    margin-bottom: 2vw;
    color: white;
    font-family: 'Inter', sans-serif;
}
#sign_up_now-hp{
    width:8rem;
    height:3rem;
    margin-right:1rem ;
    cursor:pointer;
    font-size:1rem;
    margin-bottom:1rem;
    background-color: #001f3d;
    border:0.25px solid white;
    color: white;
    border-radius:10px;
    transition: all;
}
#sign_up_now-hp:hover{
    box-shadow: 0px 6px 12px #03c3a9;
    transform: scale(1.1);
}
#Explore_Products-hp{
    width:11rem;
    height:2.5rem;
    cursor:pointer;
    font-size:1rem;
    border:1px solid gray ;
    border-radius:7px;
    background-color:white;
    transition-property:background-color 0.3s ease;
    
}
#Explore_Products-hp:hover{
    background-color: #03c3a9;
    color: white;
    transition: background-color 0.2s linear ;
    box-shadow: 0px 6px 12px #03c3a9;
    /* transform: scale(1.1); */

}
@media screen and (max-width:1115px) {
    #b1_h1{
        font-size:3.5rem;

    }
    #b1_h2{
        font-size:2.5rem;
        
    }
    #b1_h3{
        font-size:2.5rem;
    }
    #sign_up_now-hp{
        width:7rem;
        height:2rem;
    }
    #Explore_Products-hp{
    width:10rem;
    height:1.5rem;
    }
    
}

#home-area2{
    height:28rem;
    width:40rem;
    /* border: 1px solid black; */
    display:flex;
    justify-content:center;
    /* align-content: center; */
    flex-wrap:wrap;
    margin:2rem;
    
}

     

#section1{
    /* background-color: #99a5b1; */
    padding:2rem;
    background: linear-gradient(135deg, #001f3f, #004f5f, #007b7f);
    min-height: 80vh;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    margin-top: -45px;
    
}



#ha2-img{
    height:28rem;
    width:40rem;
    position: relative;
    /* margin:1rem; */
    border-radius:10px; 
    /* transition: all; */
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    
}
@media screen and (max-width:1350px){
    #ha2-img,#home-area2{
        height: 23rem;
        width:35rem ;
        
    }
}
@media screen and (max-width:1194px){
    #ha2-img,#home-area2{
        height: 20rem;
        width:32rem ; 
    }
    .p1{
        font-size:1.42em;
        color: grey;
        margin-bottom: 2rem;
    }
   
 }
 @media screen and (max-width:544px){
    
    .p1{
       font-size: xx-small;
    }
    #b1_h1{
        font-size:2em;

    }
    #b1_h2{
        font-size:1.5rem;
        
    }
    #b1_h3{
        font-size:1.5rem;
    }
    #sign_up_now-hp{
        width:7rem;
        height:2rem;
    }
    #Explore_Products-hp{
    width:10rem;
    height:1.5rem;
    }
    
 }
.p1{
    font-size:1.4rem;
    color: grey;
    margin-bottom: 2rem;
}
@media screen and (max-width:640px){
    #ha2-img,#home-area2{
        height:fit-content;
        width:25rem ;
        
    }
}
@media screen and (max-width:525px){
    #ha2-img,#home-area2{
        height:fit-content;
        width:20rem ;
        
    }
}


#ha2-img:hover{
    box-shadow: 0px 6px 12px #03c3a9;
     transform: scale(1.2);
     transition-duration:0.7s;
     transition-timing-function:ease-in-out;
    
}
#l2b2{
    /* border:1px solid black; */
    height:fit-content;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding:4rem;
    /* background-color:rgb(241, 241, 241); */
    background-color: #ccd2d8;
    
}
svg{
    background-color:#334c64 ;
    border-radius: 50%;
}
.l2b2b{
    /* border:1px solid black; */
    height:10rem;
    width:20rem;
    /* background-color: white; */
    background-color: white;
    border-radius:5px;
    padding:1rem;
    margin:0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition:transform 0.4s ease-in-out,box-shadow 0.4 ease-in-out ;
}
.l2b2b:hover{
    transform: scale(1.1) translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
#l3b3{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    height:fit-content;
    /* border:1px solid black; */
    padding: 3rem;
    background-color: #b3bcc5;
}

#section2{
    height: fit-content;
   
}
#section2-5{
    height:fit-content;
    padding:1rem;
    background-color: #00253d;
    display: flex;
    flex-wrap: wrap;
}
#section2-5 img{
    width:40rem;
    border-radius: 15px;
    padding-right: 2rem;
   
}
@media screen and (max-width:660px){
    #section2-5 img{
        width:40vw;
        min-width:25rem;
    }
    
}
@media screen and (max-width:451px){
    #section2-5 img{
        width:30vw;
        min-width:20rem;
        
    }
    
}
#trade-content{
    color: white;
    width:40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#trade-content h1{
    font-size: 4rem;
}

.l2b2b{
    text-align: center;
    justify-content: center;
    align-content: center;
}
.l2b2-p{
    color: grey;
}
.l3b3b{
    height:7rem;
    width:15rem;
    /* border: 1px solid black; */
    justify-content: center;
    align-content: center;
    text-align: center;
    transition:transform 0.3s ease-in-out;
}
.l3b3b:hover{
    transform:scale(1.2)
}
.l3b3b-p{
    color: grey;
}
#l4b4{
    text-align:center;
    align-items: center;
    justify-content: center;
    height:fit-content;
    /* width:100vw; */
    padding:2rem;
    background-color:#001f3d;

}
#l4b4-h1{
    color: white;
    padding-bottom:1.0rem;
    font-size:3.5rem;
}
#l4b4-p1{
    color: white;
    padding-bottom:1.0rem;
}
#l4b4-b1{
    height:3rem;
    width:10rem;
    border-radius:10px;
    outline:none;
    border:0;
    cursor: pointer;
    transition: all;
    background-color: white;
}
#l4b4-b1:hover{
    transform:scale(1.1);
    box-shadow: 0px 6px 12px #03c3a9;
}

#l4b4b1{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    height:18rem;
    justify-content: center;
    align-items: center;
}


#section4{
    height: fit-content;
}
#l3b3{
    background-color:whitesmoke;
}


