body {
  padding-top:110px;
 

  background: white;
  font-family: "Inter", sans-serif;
}



* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    
}
.navbar{
    border:0.5px solid black;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    background-color:rgba(255, 255, 255, 0.535);
    backdrop-filter: blur(8px);
    align-items: center;
    position: fixed;
    top:0px;
    z-index: 10;
    width:100%;
    height:8%;
    padding-top:10px;
    padding-bottom: 10px;
    

    
}
.navpages {
    display: inline;
    list-style-type: none;
    transition: all;
    margin-left:30px;
}
.hovereffect{
    text-decoration: none;
    transition: color 0.3s ease;
    display: inline-block; 
    transition: color 0.3s ease, transform 0.3s ease; 
}
.hovereffect:hover{
     color: #03c3a9;
     transform: scale(1.1);
      
}
a{
    color:#001f3d;
    text-decoration: none;
}
#logo{
    height:60px;
    transition: transform 0.3s ease-in-out;
    padding-left:20px;
}
#logo:hover{
    transform:scale(1.3);
}
#button{
    position:relative;
    right:25px;
    justify-content: center;
    
    
}
/* #b{
    height:3vh;
    width:6vw ;

} */
.navthings{
    margin:0.5vw;
    width:5vw;
    height:3vw;
    cursor:pointer;
    font-size:1vw;
}

#content {
  padding: 1vw;
  min-height: 100vh; 
  box-sizing: border-box;
}


#Login{
    background-color:white;
    outline:none;
    border: 0;
    border-radius:10px;
    transition-property: all;
    
}
#Login:hover{
    background-color: #03c3a9;
    border:0.5px solid white;
    
}
#Sign_Up{
    background-color: #001f3d;
    color: white;
    border:0;
    border-radius:10px;
    transition-property: all;
}
#Sign_Up:hover{
    background-color:#03c3a9;
    transform: scale(1.1);
}
#trademark{
    text-align: center;
    color: gray;
}
#footer1{
    display:flex;
    justify-content:center;
    text-align: center;
    height: fit-content;
    flex-wrap:wrap;
    position: relative;
    color: #000;
    background-color: #ccd2d8;
}
#footerh1{
    display:inline-block;
    margin: 3vw;
    margin-right:15vw;
}
#footerh2{
    display:inline-block;
    margin: 3vw;
    position: relative;
    margin-right:15vw;
}
#footerh3{
    display:inline-block;
    margin: 3vw;
    position: relative;
   
}
.footersites li{
    list-style:none;
    color: #000;
}
#footer_logo{
    height:10vw;
    
    /* position: relative;
    right:5vw; */
}
#footer-line{
    width:60%;
    align-items: center;
    margin: 0 auto;
}
#foot{
    background-color: #ccd2d8;
}
#contact{
    background: linear-gradient(135deg, #001f3f, #004f5f, #007b7f);
    height: 100vh;
}
#contact{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: -50px;
    padding-left: 1rem;
    padding-right:1rem;
}
#contact h1{
    margin-bottom: 1rem;
    font-size: 4rem;
    background: linear-gradient(135deg, #ffffff, #00eaff);
    -webkit-background-clip: text;
    color: transparent;
}
#contact p{
    margin-bottom: 1rem;
    color: white;
}
#form-container{
    border: #000;
    background-color: white;
    border:1px solid;
    height: 50vh;
    width:45vw;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    

}
#text-part{
    display: flex;
    justify-content: space-between;
}
#name,#email{
    display: flex;
    height: 2.5rem;
    width: 20vw;
}
#name{
    padding: 2px;
}
#help-box{
    display: flex;
    flex-direction:column;
}
#message-box{
    display: flex;
    flex-direction: column;
}
#send-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#help{
    height: 2.5rem;
}
#message{
    min-height:150px;
}
#send-btn button{
    height: 2.5rem;
    width: 35vw;
    background-color: #001f3f;
    color: white;
}